.header{
  height: 56px;
  padding: 0px 16px;
  padding: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;

}

.left-section{
  width: 169px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.hamburger-menu{
  height: 24px;
  width: 24px;
  padding-left:2px;
}

.hamburger-menu-button{
  background-color: white;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
}

.hamburger-menu-button:hover{
  background-color: rgb(204, 204, 204);
}

.yt-logo{
  height: 20px;
  width: 90px;
  padding: 18px 14px 18px 16px;
}
.middle-section{
  flex: 1;
  max-width: 732px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.middle-left-section{
  display: flex;
  gap: 0px;
  flex: 1;
}

#searchbar{
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-width: 1px;
  border-style: solid;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  color: rgb(17, 17, 17);
  line-height: 24px;
  height: 36px;
  width: 0;
  max-width: 515px;
  padding-left: 16px;
  margin-left: 32px;
  font-size: 16px;
  border-right: 0px;
  box-shadow: inset 1px 2px 1px rgba(0,0,0,0.05);
  flex: 1;
}

#searchbar:active{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 255)
}

#searchbar::placeholder{
  font-family: Roboto;
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 64px;
  padding: 1px 6px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0px;
  cursor: pointer;
  position: relative;
}

.search-button .tool-tips{
  position: absolute;
  bottom: -50px;
  opacity: 0;
}

.search-button:hover .tool-tips{
  opacity: 1;
}

.search-button:hover{
  box-shadow: inset 50px 50px 1px rgba(0,0,0,0.01)
}

.search-button:active{
  box-shadow: inset 50px 50px 1px rgba(0,0,0,0.05);
}
.search-icon{
  height: 24px;
}

.middle-right-section{
  width: 90px;
  margin-left: 8px;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
}

.voice-search-button:hover{
  box-shadow: inset 50px 50px 1px rgba(0,0,0,0.05)
}

.voice-search-button:active{
  box-shadow: inset 50px 50px 1px rgba(0,0,0,0.1);
}
.voice-search-icon{
  height: 24px;
}

.voice-search-button .tool-tips{
  position: absolute;
  bottom: -50px;
  opacity: 0;
  white-space: nowrap;
  left: -50px;
}

.voice-search-button:hover .tool-tips{
  opacity: 1;
}


.right-section{
  min-width: 225px;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  flex-shrink: 0;
}

.upload{
  height: 24px;
  width: 24px;
  padding: 1px 4px;
}

.upload-button{
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.upload-button:hover{
  background-color:rgb(204, 204, 204);
}

.upload-button:active{
  box-shadow: inset 50px 50px 1px rgba(0,0,0,0.1);
  border-style: solid;
  border-color: rgb(204, 204, 204);
  padding: 1px 3px;
}

.upload-button .tool-tips{
  position: absolute;
  bottom: -50px;
  opacity: 0;
  white-space: nowrap;
  left: -10px;
}

.upload-button:hover .tool-tips{
  opacity: 1;
}
.notifications{
  height: 24px;
  width: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.notifications-button{
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 0px;
  cursor: pointer;
  transition: background-color .15s;
  position: relative;
}
.notifications-button:hover{
  background-color:rgb(204, 204, 204);
}

.notifications-button:active{
  box-shadow: inset 50px 50px 1px rgba(0,0,0,0.1);
  border-style: solid;
  border-color: rgb(204, 204, 204);
}

.notification-count{
  position: absolute;
  top: 8px;
  right: 0px;
  background-color: rgb(204, 0, 0);
  color: rgb(255, 255, 255);
  height: 16px;
  width: 13.5px;
  padding: 0px 4px;
  border-radius: 8px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.notifications-button .tool-tips{
  position: absolute;
  bottom: -50px;
  opacity: 0;
  white-space: nowrap;
  left: -20px;
}

.notifications-button:hover .tool-tips{
  opacity: 1;
}
.user-picture{
  height: 32px;
  width: 32px;
  border-radius: 20px;
}

.user-button{
  height: 40px;
  width: 60px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex; /* Center any internal content */
  justify-content: center;
  align-items: center;
}

.user-button:active{
  height: 32px;
  width: 32px;
  border-style: solid;
  border-width: 1px;
  border-color:rgb(0, 0, 255);
  display: flex; /* Center any internal content */
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  margin-left: 14px;
}

.tool-tips{
  background-color: rgba(0,0,0,0.55);
  color: rgb(255, 255, 255);
  font-family: Roboto, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  box-sizing: border-box;
  padding: 6px;
  margin:  0px 6px;
  border-radius: 4px;
  transition: opacity .15s;
  pointer-events: none;
}


.sub-header{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 56px;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 100px;
  padding-right: 24px;
  z-index: 99;
}

.sub-head-button{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 32px;
  outline-color: rgb(15, 15, 15);
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  border-style: none;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 0px;
  transition: box-shadow .15s;
  cursor: pointer;
  min-width: 12px;
  white-space: nowrap;
}

.sub-head-button:hover{
  box-shadow: inset 50px 50px 1px rgba(0,0,0,0.1); 
}

.sub-head-button:active{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}