.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media(max-width: 659px){
  .video-grid{
    grid-template-columns: 1fr;
  }
}


@media(min-width: 660px) and (max-width: 1080px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1081px) and (max-width: 1419px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media(min-width: 1420px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.thumbnail{
  border-radius: 15px;
  transition: border-radius .25s;
  width: 100%;
}

.thumbnail-row{
margin-bottom: 12px;
position: relative;
}

.thumbnail:hover{
  border-radius: 0px;
  cursor: pointer;
}

.video-time{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Roboto;
  font-size: 12px;
  border-radius: 3px;
  padding: 1px 4px;
}

.channel-picture{
  width: 50px;
  vertical-align: top;
}

.profile-picture{
  width: 75%; 
  border-radius: 50px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-info{
  width: 100%;
  max-width: 80%;
}
.video-title{
  margin-top: 0;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(15, 15, 15);
  margin-bottom: 12px;
  text-overflow: ellipsis;
  line-height: 22px;
  max-height: 44px;
  display: -webkit-box;           /* Use a flexible box layout */
  -webkit-box-orient: vertical;   /* Arrange children vertically */
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.video-author, .video-stats{
  font-size: 14px;
  color: rgb(96, 96, 96);
  white-space: nowrap;
}

.video-author{
  margin-bottom: 4px;
}