.left-sidebar{
  padding-left: 1vw;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-sidebar{
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}