body{
  margin: 0;
}
.google-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 290px;
  max-height: 290px;
  min-height: 92px;
  box-sizing: border-box;
  flex-shrink: 0;
}

#google-image{
  height: 92px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: 50% 100%;
  width: 272px;
  overflow-y: clip;
  overflow-x: clip;
  overflow-clip-margin: content-box;
}

.search-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 20px;
}

.search-bar-area{
  display: flex;
  flex-direction: row;
  height: 46px;
  width: 582px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(211, 211, 211, 0.911);
  background-color: rgb(255, 255, 255);
  border-radius:30px;
  padding: 0 8px 0 0;
}

.search-bar-area:hover{
  border-color:rgba(211, 211, 211, 0.911); 
  box-shadow: 0 1px 6px rgba(211, 211, 211, 0.911);
}

.search-icon-area{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13px 0 14px;
  height: 42px;
}
.search-icon{
  height: 20px;
  width: 20px;
}

.search-bar{
width: 443px;
height: 27px;
padding-top: 11px;
margin-bottom: 8px;
line-height: 22px;
font-family: Robot, Arial, sans-serif;
font-size: 16px;
border: none;
text-decoration: none;
resize: none;
}

.search-bar:focus{
  border: none;
  outline: none;
}

.mic-button{
  height: 42px;
  width: 40px;
  border-left: none;
  border-width: 1px;
  padding: 0px 8px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: none;
}

.mic-image{
  height: 24px;
  width: 24px;
}

.google-lens-button{
 height: 42px;
 width: 40px;
 border-left: none;
 border-width: 1px;
 padding: 0px 8px;
 cursor: pointer;
 background-color: rgb(255, 255, 255);
 border: none;
 border-radius: 50px;
}

.lens-image{
  height: 24px;
  width: 24px;
}

.search-lucky-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 58px;
  padding: 18px 0 0 0;
}

.search-lucky-area button{
  height: 36px;
  padding: 0 16px;
  border: 1px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(248, 249, 250);
  color: rgb(60, 64, 67);
  font-family: Robot, Arial, sans-serif;
  font-size: 14px;
}

.google-search:hover {
  border-color: rgba(211, 211, 211, 0.911);
  border-style: solid;
  padding: 0 15px;
}

.lucky-button:hover{
  border-color: rgba(211, 211, 211, 0.911);
  border-style: solid;
  padding: 0 15px;
}

.bottom-space{
 margin: 0;
}

.advert{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
  height: 353px;
}

.new{
  color: red;
  font-size: 13px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  height: 15px;
  margin-bottom: 32px;
}

.watch3{
  text-decoration: none;
  font-size: 13px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  height: 15px;
  margin-bottom: 32px;
}