.footer{
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: flex-end;
    height: 95px;
    padding: 0 20px;
    background-color: rgb(241, 241, 241);
    margin: 0;
    
  }
  
  .topfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 15px;
  }
  .green-leaf{
   width: 12.25px;
   height: 14px;
   margin: 0 6px 0 0;
  }
  
  .join-us{
    text-decoration: none;
    color: black;
  }
  
  .join-us:hover{
    text-decoration: underline;
    color: black;
  }
  
  .bottomfooter{
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bottomfooter-left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .bottomfooter-left a{
    text-decoration: none;
    color: #1f1f1f;
    height: 17px;
    padding: 15px;
  }
  
  .bottomfooter-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .bottomfooter-right a{
    text-decoration: none;
    color: #1f1f1f;
    height: 17px;
    padding: 15px;
  }
  
  .bottomfooter-settings{
    display: flex;
    text-decoration: none;
    color: #1f1f1f;
    height: 17px;
    padding: 15px;
  }
  
  .bottomfooter-settings:hover{
    text-decoration: underline;
  }
  
  .link:hover{
    text-decoration: underline;
  }