.main-header{
  display: flex;
  flex: row;
  justify-content: space-between;
  height: 48px;
  padding: 6px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.main-header-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#about{
padding: 5px;
margin-top: 0;
margin-bottom: 0;
margin-left: 15px;
margin-right: 5px;
width: 37px;
height: 17px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

#about-button{
  text-decoration: none;
  color: black;
}

#about-button:hover{
  text-decoration: underline;
}



#store{
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 37px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


#store-button{
  text-decoration: none;
  color: black;
}

#store-button:hover{
  text-decoration: underline;
}


.main-header-right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header-right-left-section{
  display: flex;
  flex-direction: row;
  padding: 0 15px 0 0;
  justify-content: center;
}

#gmail{
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
width: 33.9531px;
height: 24px;
line-height: 24px;
padding: 0px;
margin: 0px;
}

#gmail-button{
  text-decoration: none;
  color: black;
}

#gmail-button:hover{
  text-decoration: underline;
}


#images{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  width: 33.9531px;
  height: 24px;
  line-height: 24px;
  padding: 0 0 0 15px;
  margin: 0px;
}

#images-button{
  text-decoration: none;
  color: black;
}

#images-button:hover{
  text-decoration: underline;
}


.main-header-right-right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#labs-image{
  height: 24px;
  width: 24px;
  padding: 0 0 0 4px;
}

#labs-button{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px 4px 0;
  background-color: rgb(255,255,255);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .5s;
}

#labs-button:hover{
  background-color: rgb(240, 240, 240);
}

#apps-image{
  height: 24px;
  width: 24px;
}

#apps-button{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: rgb(255,255,255);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .5s;
}

#apps-button:hover{
  background-color: rgb(240, 240, 240);
}


#user-profile{
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

#user-profile-button{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: rgb(255,255,255);
  border-style: solid;
  border-width: 2px;
  border-left-color: gold;
  border-top-color: red;
  border-right-color: rgb(66, 133, 244);
  border-bottom-color: green;
  border-radius: 50%;
  cursor: pointer;
}