.header{
  background-color: black;
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 40px;
}

body{
  height: 3000px;
  padding-top: 32px;
  padding-left: 52px;
}

.div1{
  background-color: lightblue;
  height: 200px;
  width: 200px;
}

.div2{
  background-color: lightpink;
  height: 200px;
  width: 200px;
}

.sidebar{
  background-color: darkgreen;
  color: white;
  position: fixed;
  top: 40px;
  left: 0;
  height: 400px;
  width: 60px;
}